
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.custom-line {
    border: none;
    border-top: 2px solid #124580;  /* Color de la línea */
    margin: 10px 0;  /* Espaciado alrededor de la línea */
}

